body{
	overflow-x:hidden;
	font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif
}

.text-muted{color:#777}

.text-primary{color:#00cc44}

p {
	font-size:15px;
	line-height:1.75
}

p.large {
	font-size:16px
}

a,a:hover,a:focus,a:active,a.active{
	outline:0
}

a {
	color:#00cc44
}

a:hover,a:focus,a:active,a.active{
	color:#00cc44
}

h1,h2,h3,h4,h5,h6{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}

.img-centered{
	margin:0 auto
	}

.bg-light-gray{
	background-color:#f7f7f7
}

.bg-darkest-gray{
	background-color:#222
}

.btn-primary{
	color:#fff;
	background-color:#00cc44;
	border-color:#00cc44;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;font-weight:700
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#00cc44;
	border-color:#f6bf01
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	background-image:none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] 

.btn-primary.active{background-color:#00cc44;border-color:#00cc44}
.btn-primary .badge{color:#00cc44;background-color:#fff}

.btn-xl{color:#fff;background-color:#00cc44;border-color:#00cc44;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}

.btn-xl:hover,.btn-xl:focus,.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{
	color:#fff;background-color:#00cc44;border-color:#f6bf01}

.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{background-image:none}

.btn-xl.disabled,.btn-xl[disabled],fieldset[disabled] .btn-xl,.btn-xl.disabled:hover,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl:hover,.btn-xl.disabled:focus,.btn-xl[disabled]:focus,fieldset[disabled] .btn-xl:focus,.btn-xl.disabled:active,.btn-xl[disabled]:active,fieldset[disabled] .btn-xl:active,.btn-xl.disabled.active,.btn-xl[disabled].active,fieldset[disabled] .btn-xl.active{
		background-color:#00cc44;border-color:#00cc44}

.btn-xl .badge{color:#00cc44;background-color:#fff}

.navbar-default{
	background-color:#222;
	border-color:transparent
}

.navbar-default .navbar-brand{
	color:#fff;
	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active{color:#00cc44}

.navbar-default .navbar-collapse{border-color:rgba(255,255,255,.02)}

.navbar-default .navbar-toggle{background-color:#00cc44;border-color:#00cc44}

.navbar-default .navbar-toggle .icon-bar{background-color:#fff}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#00cc44}

.navbar-default .nav li a{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:400;letter-spacing:1px;color:#fff}

.navbar-default .nav li a:hover,.navbar-default .nav li a:focus{color:#00cc44;outline:0}

.navbar-default .navbar-nav>.active>a{border-radius:0;color:#fff;background-color:#00cc44}

.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#fff;background-color:#00cc44}

@media (min-width:768px){.navbar-default{background-color:transparent;padding:25px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:0}

	.navbar-default .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}

	.navbar-default .navbar-nav>.active>a{border-radius:3px}.navbar-default.navbar-shrink{background-color:#222;padding:10px 0}

	.navbar-default.navbar-shrink .navbar-brand{font-size:1.5em}
}

header{
	background-image:url(../img/header-bg.jpg);
	background-repeat:none;
	background-attachment:fixed;
	background-position:center center;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#fff
}


/*  Custom classes that I added  */
.bg-overlay {
	background: rgba(0,0,0,0.5);
}

.profile_pic {
	max-height: 300px;
	margin-bottom: 20px;
}

.profile_div{
	margin-bottom: 20px;
}

.research_pic {
	width:125px;
	height:125px;
	background-color:#00cc44;
	color:#fff;
	border-radius:100%;
	border:1px solid #000;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}


.outreach_description{
	margin-bottom:50px;
}

.outreach_subtitle{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:25px;
	font-weight:700;
	margin:0;
	margin-bottom:10px;
	margin-top:10px;
	line-height:1;
}

.img-border {
	border:1px solid #000;
}

.pop_dynamics_well {
	padding-bottom:100px;
}


@media (min-width:768px){
	.research_pic {
	width:175px;
	height:175px;
	background-color:#00cc44;
	color:#fff;
	border-radius:100%;
	border:1px solid #555;
	text-align: center;
	margin: 0 auto;
		margin-top: 20px;
}
	}


.citation {
  padding-left: 40px ;
  text-indent: -40px ;
  font-size: 16px;
  padding-bottom:10px;
}	
}


.test{
	background-image:url(../img/header-bg.jpg);
	background-repeat:none;
}



/* End custom classes */




header .intro-text{
	padding-top:50px;
	padding-bottom:50px
}

header .intro-text .intro-lead-in{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style:italic;
	font-size:22px;
	line-height:22px;
	margin-bottom:25px
}

header .intro-text .intro-heading{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	margin-top:55px;
	margin-bottom:25px
}

@media (min-width:768px){

	header .intro-text{
		padding-top:100px;
		padding-bottom:50px
	}
	header .intro-text .intro-lead-in{
		font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-style:italic;
		font-size:40px;
		line-height:40px;
		margin-bottom:25px
	}
	header .intro-text .intro-heading{
		font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size:16px;
		margin-top:25px;
		margin-bottom:50px
	}
}

section{
	padding:25px 0
}

section h2.section-heading{
	font-size:40px;
	margin-top:0px;
	margin-bottom:25px}

section h3.section-subheading{
	font-size:18px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	font-style:italic;
	font-weight:400;
	margin-bottom:25px}

@media (min-width:768px){

	section{
		padding:25px 0
		}
	}

.service-heading{margin:15px 0;text-transform:none}



footer{padding:25px 0;text-align:center}
footer span.copyright{line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
footer ul.quicklinks{margin-bottom:0;line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
ul.social-buttons{margin-bottom:0}

ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#00cc44}
.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}
